BankaOtomasyon/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="hgsKontrol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hgsMusteriNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hgsKontrolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hgsKontrolResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="satınAl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="musteriTC" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="satınAlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="satınAlResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BakiyeYukle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bakiye" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="hgsNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BakiyeYukleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BakiyeYukleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="hgsKontrolSoapIn">
    <wsdl:part name="parameters" element="tns:hgsKontrol" />
  </wsdl:message>
  <wsdl:message name="hgsKontrolSoapOut">
    <wsdl:part name="parameters" element="tns:hgsKontrolResponse" />
  </wsdl:message>
  <wsdl:message name="satınAlSoapIn">
    <wsdl:part name="parameters" element="tns:satınAl" />
  </wsdl:message>
  <wsdl:message name="satınAlSoapOut">
    <wsdl:part name="parameters" element="tns:satınAlResponse" />
  </wsdl:message>
  <wsdl:message name="BakiyeYukleSoapIn">
    <wsdl:part name="parameters" element="tns:BakiyeYukle" />
  </wsdl:message>
  <wsdl:message name="BakiyeYukleSoapOut">
    <wsdl:part name="parameters" element="tns:BakiyeYukleResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="hgsKontrol">
      <wsdl:input message="tns:hgsKontrolSoapIn" />
      <wsdl:output message="tns:hgsKontrolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="satınAl">
      <wsdl:input message="tns:satınAlSoapIn" />
      <wsdl:output message="tns:satınAlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BakiyeYukle">
      <wsdl:input message="tns:BakiyeYukleSoapIn" />
      <wsdl:output message="tns:BakiyeYukleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="hgsKontrol">
      <soap:operation soapAction="http://tempuri.org/hgsKontrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="satınAl">
      <soap:operation soapAction="http://tempuri.org/satınAl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BakiyeYukle">
      <soap:operation soapAction="http://tempuri.org/BakiyeYukle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="hgsKontrol">
      <soap12:operation soapAction="http://tempuri.org/hgsKontrol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="satınAl">
      <soap12:operation soapAction="http://tempuri.org/satınAl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BakiyeYukle">
      <soap12:operation soapAction="http://tempuri.org/BakiyeYukle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:60081/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:60081/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>